/* z-indexes */
$base-index: 1;
$content-index: 2;
$modal-background-index: 3;
$modal-index: 4;
$alert-index: 5;

/* consts */
$mobileWidth: 800px;

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexCenter {
  @include flex();
  justify-content: center;
}

@mixin flexCenterColumn {
  @include flexColumn();
  align-items: center;
}

@mixin font($size, $weight: 400, $color: var(--white), $line-height: 1.1em) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin coverBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@mixin baseModal {
  display: none;
  position: absolute;

  left: 0;
  top: 0;

  width: 100dvw;
  height: 100dvh;

  overflow: hidden;
}

.container {
  padding: 0 10%;
}

.baseLink {
  @include font(14px, var(--white));
  text-underline-offset: 0.2em;
  text-decoration: none;
  cursor: sw-resize;

  &:active {
    text-decoration: none;
  }

  &.active {
    text-decoration: underline;
  }
}

.baseButton {
  @include font(14px);
  font-weight: 500;

  width: 100%;
  max-width: 250px;

  padding: 14px 20px;
  border-radius: 10px;

  cursor: pointer;

  &.light {
    background-color: var(--white);
    color: var(--black);
    border: none;
  }

  &.dark {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.defaultInputContainer {
}

.nestedInput {
}

.inputImageContainer {
}

.toastStyles {
}

.inputError {
}

.baseForm {
}

@media (max-width: var(--mobile-width)) {
  .container {
    padding: 0 5%;
  }
}
