@import '../base.module.scss';

.imageInputContainer {
  color: var(--white);
}

.dataInputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.descriptionArea {
  width: 100%;
  height: 130px;
  background: var(--black);
  padding: 10px;
  border: 2px solid var(--white);
  border-radius: 5px;
}

.radioChoose {
  &.sex {
    margin-bottom: 10px;
  }

  &.radioContainer {
    display: flex;
    gap: 10px;
  }
}
