@import '../base.module.scss';

.headContainer {
  @include font(32px);
  @include flex();
  align-items: center;
  justify-content: space-between;

  margin-top: 36px;
}

.filterToggleContainer {
  padding: 5px 10px 5px 0;

  cursor: pointer;
}

.__filterPlug {
  width: 31px;
  height: 45px;
}

.searchForm {
  display: none;
  width: 100%;
}

.searchInput {
  @include font(16px, 600);
  height: 32px;
  width: 100%;

  border: 1.5px solid var(--white);
  border-radius: 20px;

  padding: 20px 20px;

  background-color: var(--black);

  &::placeholder {
    color: var(--white);
  }

  &:focus {
    outline: none;
  }
}

.searchFormModal {
  min-width: 300px;
  width: 100%;
}

@media (max-width: $mobileWidth) {
  .headContainer > h1,
  .__filterPlug {
    display: none;
  }

  .headContainer {
    gap: 10px;
  }

  .searchForm {
    display: block;
  }
}
