@import '../base.module.scss';

.baseContainer {
  @include font(16px);
}

.sectionBack {
  @include flex();
  gap: 10px;

  color: var(--white);
  text-decoration: none;

  font-weight: 200px;
  & > img {
    transform: rotate(90deg);
  }
}

.productPayloadContainer {
  display: grid;
  gap: 40px;
  grid-template-columns: 60% 40%;
}

.productTextContainer {
  @include font(18px, 600);
  @include flexColumn();
  gap: 16px;
  color: var(--white);
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.volumeContainer {
  @include flex();
  gap: 30px;
}

.volumePoint {
  color: var(--gray-dark);

  &.active {
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50%;
    padding: 15px;
  }
}

.imageContainer {
  display: grid;
  grid-template-columns: 80px auto;
  gap: 20px;
  width: 100%;
}

.secondImageContainer {
  overflow-y: scroll;
  max-height: 300px;
}

@media (max-width: 1200px) {
  .productPayloadContainer {
    grid-template-columns: 55% 45%;
  }
}

@media (max-width: 900px) {
}
